form{
    margin-top: 30px;
}
.form{
    width: 200px;
    height: 250px;
    zoom: 1.5;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #64a0f3;
    box-shadow: 0 0 25px 9px #006bff;
    border-radius: 5px;


}

.form input{
    padding: 3px;
    margin-top: 25px;
    outline: none;
    background-color: #64a0f3;
    border:none;
    color:white;
    font-size: 14px;
}

.form input::placeholder{
    color: white;

}
.form input:focus{
    border-bottom: 2px solid #0349fc;

}

.form input[type='submit']{
    background-color:#326cfe;
    margin-right: 11px;
    padding: 8px 15px;
    border:none;
    border-radius: 5px;
    float:right;
    cursor:pointer;
    transition:.5s;
}

.form input[type='submit']:hover{
    background-color:#0349fc;
    
}


.form img{
    position:absolute;
    width: 100px;
    height: 100px;
    left: 45px;
    top: -45px;
    border-radius: 50%;
    border: 5px solid white;
}

.welstyle{
    width:100% ;
    height:100px ;
    background-color: yellow;
    color: purple;
    position: fixed;
    top: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.welstyle a{
    color:red;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
}

.welstyle a:hover{
    color:lightcoral;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
}