.app{
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6HEwgP40qXJXzazeJKB4gU2lfGKCqK4pQo_l7qjAIfvwxp81v&usqp=CAU');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}